[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kuldeepdarmwal
[access "refs/for/refs/*"]
	read = group user/kuldeepdarmwal
	push = group user/kuldeepdarmwal
	label-Code-Review = -2..+2 group user/kuldeepdarmwal
	label-Verified = -1..+1 group user/kuldeepdarmwal
	rebase = group user/kuldeepdarmwal
	removeReviewer = group user/kuldeepdarmwal
	submit = group user/kuldeepdarmwal
[access "refs/heads/*"]
	read = group user/kuldeepdarmwal
	create = group user/kuldeepdarmwal
	push = +force group user/kuldeepdarmwal
	pushMerge = group user/kuldeepdarmwal
[access "refs/tags/*"]
	push = group user/kuldeepdarmwal
	push = +force group user/kuldeepdarmwal
